
.tablero{
    display: flex;
    margin: 20px;
    background-color: white;
}
.rojo{
    background-color: red;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    box-sizing: border-box;
    opacity: 0.3;
}

.azul{
    background-color: blue;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    box-sizing: border-box;
    opacity: 0.3;
    
}

.verde{
    background-color: green;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    box-sizing: border-box;
    opacity: 0.3;
    
}

.amarillo{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    box-sizing: border-box;
    opacity: 0.3;
    
}
.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:radial-gradient(circle, #ff637d, #f4f1bb, #66d7d1, #eaf2e3, #fff87f );
    width: 100vw;
    height: 100vh;
}
.mensaje{
    border: 3px solid black;
    width: 50vw;
    height: 10vw;
    border-radius: 20px;
    font-size: 50px;
    font-weight: bolder;
    background-color: rgb(255, 245, 225);
    padding: 10px;
    text-align: center
}

.titulo{
    font-size: 60px;
    font-family:sans-serif;
    font-style: italic;
    
}

button{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 15px ;
    transition: 0.5s;
}
button:hover{
    background-color: #5350fd;
}
body{
    margin: 0;
}


