
.tablero{
    display: flex;
    margin: 20px;
    border-radius: 200px;
    position: relative;
    z-index: 1;
}
.rojo{
    background-color: red;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    box-sizing: border-box;
    opacity: 0.3;
}

.azul{
    background-color: blue;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    box-sizing: border-box;
    opacity: 0.3;
    
}

.verde{
    background-color: green;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    box-sizing: border-box;
    opacity: 0.3;
    
}

.amarillo{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    box-sizing: border-box;
    opacity: 0.3;
    
}
.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:radial-gradient(circle, #ff637d, #f4f1bb, #66d7d1, #eaf2e3, #fff87f );
}
.mensaje{
    border: 3px solid black;
    width: 50vw;
    height: 10vw;
    border-radius: 20px;
    font-size: 50px;
    font-weight: bolder;
    background-color: white;
}

.titulo{
    font-size: 60px;
    font-family: sans-serif;
    font-style: italic;
    
}
.marco{
    background-color: white;
    border-radius: 100%;
}



