/* Estilos generales */

  /* Estilos de los botones */
  button, a {
    background-color: #f7a21b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  
  button:hover {
    background-color: #86d1e0;
  } 
  ul li button {
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 5px;
    transition: linear 0.2s;
  }
  
  ul li button:hover {
    background-color: #3676ff;
  }
  
 