/* Estilos generales */

  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  
  

  
  /* Estilos del encabezado */
  header {
    background-color: #af6884;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
  }
  
 
  
  header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: linear 0.2s;
    padding: 4px;
  }
  .div-logo{
    display: flex;
    justify-content: start;
  }
  .logo{
    width: 150px;
  }
  
  header nav a:hover {
    text-decoration: none;
  }
  a {
    color: #008CBA;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
